/* top+header+nav+footer */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #999;
}

ul {
    list-style: none;
}

body {
    min-width: 1004px;
    font-family: "微软雅黑", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1"
}

.top {
    height: 34px;
    background: #E3E4E5;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
}

.top .top_nav {
    margin: 0 auto;
    width: 1004px;
    height: 34px;
}

.top_nav .location {
    margin-top: 6px;
    vertical-align: top;
    /* 图片后面有文字，让文字居中 */
}

.top_nav .place {
    display: inline-block;
    line-height: 34px;
}

.top_nav_right {
    display: inline-block;
    float: right;
    line-height: 34px;
    margin-right: 160px;
}

/*
.top_nav_right {
    display: inline-block;
    width: 709px;
    color: #999;
}

.top_nav_right a+span {
    color: #CCC;
    font-weight: 400;
}

.top_nav_right a {
    margin: 0 8px;
}
*/

.top a:hover {
    color: #f00;
}

.top_nav_right .login {
    margin-right: 0;
}

.header {
    margin: 0 auto;
    width: 1004px;
}

.header form input:first-child {
    width: 384px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0;
    border: 1px solid #CCC;
    border-right: 1px solid transparent;
    padding-left: 10px;
    vertical-align: top;
}

.header form input:last-child {
    margin-left: -1px;
    width: 64px;
    height: 32px;
    background: #D9534F url(/static/img/icon-search.png/) no-repeat center;
    background-size: 40px;
    outline: 0;
    border: 0;
}

.header form input:last-child:hover {
    background: #dd7c78 url(/static/img/icon-search.png/) no-repeat center;
    background-size: 45px;
}

.header p {
    padding: 0 3px;
}

.header p a {
    font-size: 13px;
}

.header .search {
    margin: 15px auto 0px;
    width: 460px;
    height: 58px;
}
/* nav部分 */
.__nav {
    width: 100%;
    margin-top: 15px;
    border-bottom: 2px solid #B1191A;
}

.__nav ul {
    overflow: hidden;
    width: 1004px;
    margin: 0 auto;
}

.__nav ul li {
    float: left;
}

.__nav ul li a {
    display: block;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    font-size: 16px;
    color: #B1191A;

    /* font-weight: 700; */
}

.__nav ul li a:hover {
    background: #B1191A;
    color: #fff;
}

.__nav .nav_first_a {
    padding: 0 30px;
    background: #B1191A;
    color: #fff;
}
/* footer部分 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #999;
}

ul {
    list-style: none;
}

.blank {
    height: 80px;
}

.footer {
    width: 100%;
    background: #EAEAEA;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.footer_first {
    margin-bottom: 15px;
    font-size: 13px;
    text-align: center;
    color: #5F5F5F;
}

.footer_first b {
    padding-left: 15px;
    padding-right: 15px;
}

.footerline {
    margin-bottom: 15px;
    border-bottom: 1px solid #ababab;
    width: 230px;
    margin: 10px auto;
}

.footer_last {
    margin-bottom: 15px;
    font-size: 13px;
    color: #5F5F5F;
    text-align: center;
}