<!DOCTYPE html>
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>remind</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<main class="container">
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <article class="content">
    <p>{{ title }},</p>
    <p><strong>{{ detail }}</strong> 。</p>
    <p>
      <a href="/home/"><button>返回主页.</button></a>
    </p>
  </article>
</main>



</body></html>